input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  outline: 1px solid var(--stroke-default);
  border: 2px solid transparent;

  padding: .75rem 1rem; 

  font: var(--text);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);
  display: block;
  margin-bottom: .25rem;
}

/*aplicar nos elementos quando eles estiverem de forma focada (selecionada)*/
input:focus, textarea:focus, select:focus {
  outline: .20rem solid var(--surface-secondary);
  border: .125rem solid var(--stroke-highlight);
  outline-offset: .1px;
}

select { 
  background: url(../../assets/icons/arrow-down-01.svg)
  no-repeat 97%; 
}

.address .flex {
  gap: 1.25rem;
}

.input-wrapper:has([disabled]){
  opacity: .5;
}

input {
  &[disabled] {
    background-color: var(--surface-disabled);
    border: 1px solid var(--stroke-default);
    color: var(--text-primary);
  }

  &:invalid {
    border: 0.125rem solid var(--semantic-error);
  }

  & + small {
    font: var(--text-sm);
    color:#786a60;

    display: inline-block;
    margin-top: .25rem;
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin-top: 0.25rem;

    font: var(--text-sm);
    color: var(--semantic-error);
  }

  &:valid + .error{
    display: none;
  }
} 